.products-grid
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-gap: 25px

  .grid-item-enter
    opacity: 0
    transform: translateY(-20px)
    &-active
      transition: .3s
      transform: none
      opacity: 1

  .product-card--big
    grid-column: span 3
    a
      display: flex
      align-items: center
    .product-card__photo
      height: 270px
  @media screen and ( max-width: 1200px )
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 8px
    .product-card
      padding: 10px
    .product-card--big
      display: block
      grid-column: span 1
      .product-card__photo
        height: 190px
  @media screen and ( max-width: 767px )
    grid-template-columns: 1fr 1fr
    grid-gap: 25px
  @media screen and ( max-width: 575px )
    grid-template-columns: 1fr

