.MainPage
  box-sizing: border-box
  background: url('./img/bg.jpg')
  background-repeat: no-repeat
  background-position: center 100%
  background-size: cover
  height: 100%
  .main-text
    text-align: center
    &-title
      font-weight: 100
      font-size: 200px
    &-subtitle
      font-weight: 300
      font-size: 34px
      text-transform: uppercase
      margin-bottom: 30px
  .btn
    display: inline-block
    text-decoration: none
    text-transform: uppercase
    color: #fff
    font-size: 16px
    line-height: 1
    font-weight: 900
    background-color: #0023ff
    padding: 16px 44px 14px
    border-radius: 1.5em
    white-space: nowrap