*,
*:before,
*:after
  box-sizing: border-box

.App
  display: flex
  width: 100vw
  height: 100vh
  overflow: hidden

  font-family: Lato, sans-serif
  font-weight: 400
  font-size: 16px
  position: relative
  background-color: #f0f0f0

  .sidebar
    position: relative
    z-index: 5

  .content
    width: 100%
    height: 100%
    overflow: hidden
    overflow-y: auto

    .BurgerMenu
      position: absolute
      top: 25px
      right: 35px
      z-index: 5

  .Menu
    position: absolute
    top: 0
    right: 0
    z-index: 3
    transition: transform .3s ease-in-out
    transform: translateX(100%)

    &--active
      transform: translateX(0)
  @media screen and ( max-width: 767px )
    flex-direction: column
    .BurgerMenu
      display: none
    .sidebar
      padding: 10px 15px 10px 75px
      flex-direction: row
      justify-content: flex-end
      height: auto
      .main-logo
        top: 50%
        left: 20px
        transform: translateY(-50%)
      .nav
        flex-direction: row
        &__item
          margin: 0
      .BurgerMenu
        display: block
    .content
      .MainPage
        .main-text-title
          font-size: 100px